@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-container {
  width: 60%;
  margin: 20px 0;
}

.nav-container nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
} 

ul.nav-links {
  list-style-type: none;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul.nav-links li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100px;
  height: 30px;
}

ul.nav-links li a {
  text-decoration: none;
  color: black;
}



#nav-1 {
  background-color: #14213d;
}

#nav-1 li {
  color: #fca311;
  position: relative;
}

#nav-1 .nav-link {
  color: #fca311;
  text-transform: lowercase;
}

#nav-1 .nav-link::before,
#nav-1 .nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #fca311;
  transform: scaleX(0);
  transition: 300ms ease-in-out;
}

#nav-1 .nav-link::before {
  top: 0;
  transform-origin: left center;
}

#nav-1 .nav-link::after {
  bottom: 0;
  transform-origin: right center;
}

#nav-1 .nav-link:hover::before,
#nav-1 .nav-link:hover::after {
  transform: scaleX(1);
}



#nav-2 .nav-link {
  color: #457b9d;
  text-transform: uppercase;
  position: relative;
}

#nav-2 .nav-link::before {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: #023047;
  top: 50%;
  left: 50%;
  z-index: -2;
  opacity: 0;
}

#nav-2 .nav-link::after {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: #023047;
  bottom: 50%;
  right: 50%;
  z-index: -2;
  opacity: 0;
}

#nav-2 .nav-link:hover {
  color: white;
  font-weight: 700;
  background-color: #e63946;
  padding: 5px 10px;
  box-sizing: border-box;
  border: 2px solid white;
  transition: all 300ms ease-in-out;
}

#nav-2 .nav-link:hover::before {
  top: -7px;
  left: -7px;
  opacity: 1;
  transition: all 420ms  cubic-bezier(0.34, 1.56, 0.64, 1);
}

#nav-2 .nav-link:hover::after {
  bottom: -7px;
  right: -7px;
  opacity: 1;
  transition: all 420ms  cubic-bezier(0.34, 1.56, 0.64, 1);
}



#nav-3 {
  overflow: hidden;
}

#nav-3 .nav-link {
  color: #555b6e; 
  z-index: 100;
}

#nav-3 .nav-links {
  height: 100%;
  margin: 0;
}

#nav-3 .nav-links li {
  position: relative;
  height: 100%;
}

#nav-3 li::before,
#nav-3 li::after,
#nav-3 .nav-link::before,
#nav-3 .nav-link::after {
  content: '';
  width: 25%;
  height: 50px;
  position: absolute;
  top: -100%;
  left: 0;
  background-color: #555b6e;
  transition: 300ms ease-in-out;
  z-index: -1;
}

#nav-3 li::after {
  left: 25%;
}

#nav-3 .nav-link::before {
  left: 50%;
}

#nav-3 .nav-link::after {
  left: 75%;
}

#nav-3 li:hover .nav-link {
  color: #eaf4f4;
  transition: color 350ms ease-out;
}

#nav-3 li:hover::before {
  transform: translateY(100%);
}

#nav-3 li:hover::after {
  transform: translateY(100%);
  transition-delay: 100ms;
}

#nav-3 li:hover .nav-link::before {
  transform: translateY(100%);
  transition-delay: 200ms;
}

#nav-3 li:hover .nav-link::after {
  transform: translateY(100%);
  transition-delay: 300ms;
}



#nav-4 .nav-link {
  position: relative;
  color: #461e5c;
  font-weight: 700;
  overflow: hidden;
  padding-bottom: 3px;
}

#nav-4 .nav-link::before,
#nav-4 .nav-link::after {
  content: '';
  height: 3px;
  width: 50%;
  position: absolute;
  bottom: 0;
}

#nav-4 .nav-link::before {
  left: 0;
  background-color: #ffcf70;
  transform: translateX(200%)
}

#nav-4 .nav-link::after {
  right: 0;
  background-color: #cea7ee;
  transform: translateX(-200%)
}

#nav-4 .nav-link:hover {
  color: #f56a00;
  transition: 1s ease-out;
}

#nav-4 .nav-link:hover::before,
#nav-4 .nav-link:hover::after {
  transform: translateX(0);
  transition: 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}



#nav-5 {
  background-color: #2b2d42;
}

#nav-5 .nav-link {
  color: #edf2f4;
  position: relative;
}

#nav-5 .nav-link::before {
  content: '';
  width: 80px;
  height: 27px;
  background-color: #ef233c;
  transform: translate(-50%, -50%) skew(30deg);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  opacity: 0;
}

#nav-5 .nav-links:hover .nav-link {
  filter: blur(3px);
  opacity: 0.4;
}

#nav-5 .nav-links .nav-link:hover {
  filter: blur(0);
  opacity: 1;
  transform: scale(1.5);
  transition: 300ms ease-in-out;
}

#nav-5 .nav-links .nav-link:hover::before {
  opacity: 1;
  transform: translate(-50%, -50%) skew(30deg) scale(1.5);
  transition: 300ms ease-in-out;
}


#nav-6 .nav-link {
  height: 100%;
  width: auto;
  overflow: hidden;
  padding: 2px 5px;
  position: relative;
}

#nav-6 .nav-link span {
  display:block;
  height: 100%;
  width: auto;
  line-height: 30px;
  transition: 300ms ease-in-out;
  padding: 2px 5px;
  transition-delay: 500ms;
  text-transform: uppercase;
}

#nav-6 .nav-link::before {
  content: '';
  height: 100%;
  width: 100%;
  background-color: #00a8e8;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  transition: transform 500ms;
  transform-origin: right;
  transform: scaleX(0);
}

#nav-6 .nav-link:hover span {
  transform: translateY(-100%);
}

#nav-6 .nav-link:hover span:nth-child(1) {
  transition-delay: 500ms;
}

#nav-6 .nav-link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
  transition-delay: 700ms;
}



#nav-7 li {
  width: 100px;
  height: 30px;
  position: relative;
}

#nav-7 li::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color:#264653;
  transform: scale(0);
  transform-origin: center;
  transition: 500ms ease;
}

#nav-7 .nav-link {
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  width: 100%;
  transition: 500ms ease;
}

#nav-7 .nav-link::before,
#nav-7 .nav-link::after {
  content: '';
  height: 2px;
  width: 100%;
  background-color: #264653;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: 500ms ease;
}

#nav-7 .nav-link::before{
  top: -21px;
}

#nav-7 .nav-link::after {
  bottom: -20px;
}

#nav-7 li:hover::before {
  transform: scale(1);
}

#nav-7 li:hover .nav-link {
  color: white;
}

#nav-7 .nav-link:hover::before {
  top: -11px;
  opacity: 1;
}

#nav-7 .nav-link:hover::after {
  bottom: -10px;
  opacity: 1;
}



#nav-8 .nav-link {
  color: #52796f;
  background-color: white;
  position: relative;
  padding: 10px;
  transition: 300ms ease-in-out;
}

#nav-8 .nav-link::before,
#nav-8 .nav-link::after,
#nav-8 span::before,
#nav-8 span::after {
  content: '';
  z-index: -3;
  height: 15px;
  width: 15px;
  position: absolute;
  background-color: #52796f;
  transition: 300ms ease-in-out;
}

#nav-8 .nav-link::before {
  left: -3px;
  top: -3px;
  transform: translate(100%, 100%)
}
#nav-8 .nav-link::after {
  left: -3px;
  bottom: -3px;
  transform: translate(100%, -100%)
}

#nav-8 span::before {
  top: -3px;
  right: -3px;
  transform: translate(-100%, 100%)
}

#nav-8 span::after {
  bottom: -3px;
  right: -3px;
  transform: translate(-100%, -100%)
}

#nav-8 .nav-link:hover {
  font-weight: 700;
}

#nav-8 .nav-link:hover::before,
#nav-8 .nav-link:hover::after,
#nav-8 .nav-link:hover span::before, 
#nav-8 .nav-link:hover span::after {
  transform: translate(0,0);
}



#nav-9 .nav-link {
  position: relative;
  width: 100%;
  color: #da1e37;
  font-weight: 700;
  padding: 10px 8px;
}

#nav-9 .nav-link::before,
#nav-9 .nav-link::after,
#nav-9 span::before,
#nav-9 span::after {
  content: '';
  position: absolute;
  background-color: #da1e37;
  transition: 400ms ease;
}

#nav-9 .nav-link::before,
#nav-9 .nav-link::after {
  height: 3px;
  width: 100%;
}

#nav-9 .nav-link::before {
  top: 0;
  left: 0;
  transform-origin: left;

}
#nav-9 .nav-link::after {
  bottom: 0;
  right: 0;
  transform-origin: right;
}

#nav-9 span::before,
#nav-9 span::after {
  height: 100%;
  width: 3px;
}

#nav-9 span::before {
  left: 0;
  top: 0;
  transform-origin: top;
}

#nav-9 span::after {
  right: 0;
  bottom: 0;
  transform-origin: bottom
}

#nav-9 .nav-link:hover::before,
#nav-9 .nav-link:hover::after, 
#nav-9 .nav-link:hover span::before,
#nav-9 .nav-link:hover span::after {
  transform: rotate(360deg);
}

#nav-9 .nav-link:hover::before,
#nav-9 .nav-link:hover::after {
  width: 10px;
}

#nav-9 .nav-link:hover span::before,
#nav-9 .nav-link:hover span::after {
  height: 10px;
}



#nav-10 .nav-link {
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}

#nav-10 .nav-link span {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  transition: 500ms ease;
  font-size:20px;
}

#nav-10 .nav-link span:nth-child(1) {
  z-index: 1;
  color: #a9d6e5;
}

#nav-10 .nav-link span:nth-child(2) {
  z-index: 2;
  color: #014f86;
  opacity: 0;
}

#nav-10 .nav-link span:nth-child(3) {
  z-index: 3;
  color: #012a4a;
  opacity: 0;
}

#nav-10 .nav-link:hover span:nth-child(2) {
  opacity: 1;
  transform: translate(3px,-3px);
}

#nav-10 .nav-link:hover span:nth-child(3) {
  opacity: 1;
  transform: translate(6px,-6px);
}



#nav-11 {
  text-transform: uppercase;
  font-weight: bold;
}

#nav-11 .nav-link {
  position: relative;
  padding: 5px 10px;
}

#nav-11 .nav-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left center;
  height: 100%;
  width: 100%;
  background-color: #e63946;
  z-index: -10;
  transform: scale(0,10%);
}

#nav-11 .nav-link:hover {
  animation: navText 1s 1 linear forwards;
}

#nav-11 .nav-link:hover::before {
  animation: navBg 1s 1 linear forwards;
}

@keyframes navBg {
  0% { transform: scale(0,10%); }
  50% { transform: scale(100%,10%); }
  100% { transform: scale(100%,100%); }
}

@keyframes navText {
  0% { opacity: 1; color: black;}
  50% { opacity: 50%; color: black;}
  100% { opacity: 1; color: white;}
}